.myButton {
    margin-top: 15px;
    padding: 5px 15px;
    color: rgb(219, 219, 219);
    font-size: 14px;
    background: transparent;
    border: 2px  solid var(--color-border);;
    border-radius: 5px;
    cursor: pointer;
}

