:root{
    --color-border: #5c5c5c;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    
}   

.login-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.post {
    
    width:100%;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid var(--color-border);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__title{
    font-size:20px;
    color: rgb(172, 154, 95);
    
}

.post__body{
    margin-top: 20px;
}

.post__btns:not(:last-child) {
    margin-right: 10px;
}

.page-leaner {
    margin-top: 40px;
    margin-bottom: 50px;
  
}

.page {
    padding: 20px;
    border: 3px solid var(--color-border);
    margin-left: 10px;
    border-radius: 10px;

}

.page__current {
    border: 3px solid rgb(117, 51, 51);
    font-weight: bold;

}


.select{
    margin-top: 10px;
    padding: 5px 30px 5px 10px; /* Резервируем место под стрелку */
    border-radius: 4px;
  
}


